html {
    font-size: 16px; 
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }  
  
  p, li, header, div, article, nav, h4 {
    
    font-size: 16px;
    line-height:0.5;
    letter-spacing: 1px;
  }

  p, article, header, nav, li, h4, main {
    animation-duration: 3s;
    animation-name: glissement;
  }

  header {

    color : rgb(34, 52, 92) ; 

  }

  @keyframes glissement {
    from {
      margin-left: 50%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }